.center-box{
	width: 1000px;
	margin: 0 auto;
}
.color-green{
	color: #00aeb0;
	font-size: 18px;
	line-height: 80px;
}


.header-content{
	height: 80px;
	background-color: pink;
}
img{
	margin-top: 10px;
	margin-left: 10px;
}
.header-nav{
	margin-left: 50px;
}
.header-nav b
{
	border-left: 2px solid #00aeb0;
	margin-left: 5px;
	margin-right: 5px;
}
.nav{
	width: 100%;
	background-color: #00a7a9;
	height: 43px;
}
.center-box{
	position: relative;
}
.center-box>a{
	line-height: 43px;
	font-size: 16px;
	padding: 0 14px;	
}
.nav b{
	border-left: 2px solid #363636;
	font-size: 12px;
	opacity: 0.1;
}
.center-box>span{
	display: block;
	width: 119px;
	height: 43px;
	background-color: #ff7900;
	position: absolute;
	top: 0;
	right: 0;
}
.center-box>span>a{
	color: #fff;
	font-size: 16px;
	line-height: 43px;
	text-align: center;
}
.center-box>.aa{
	margin:5px 0;
	padding:0;
}
.center-box>.aa>img{
	margin:5px 0;
	padding: 0;
}
.center-box>.img-bottom>a{
	margin:-10px 0;
	padding:0;
}
.center-box>.img-bottom>a>img{
	margin:-10px 0;
	padding:0;
}
.baitiao{
	width: 100%;
	height: 15px;
	background-color: #fff;
}
.content-left{
	display: block;
	width: 150px;
	border: 2px solid #ff0;
	background-color: #bae7e7;
}
.content-left>.content-left-header{
	background-color: #bae7e7;
	height: 336px;
    background:url(http://www.linkshop.com.cn/index/css/Color_icons.png) no-repeat scroll 14px 9px;
}
.content-left>.content-left-header>.content-left-header-1{
	height: 42px;
}
.content-left>.content-left-header>.content-left-header-1>a{
	line-height: 42px;
	padding-left:45px;
	color:#00a7a9; 
}
.content-left-header-2>a>img{
	margin:2px 0px;
	padding:0;
}
.content-left-header-3>a>img{
	margin:1px 0px;
	padding:0;
}

/*第四部分中部*/
.content-center{
	display: block;
	width: 500px;
}
.content-center-header{
	display: block;
	position: relative;
	width: 500px;
	border: 1px solid #f00;
}
.content-center-header>.wenzi{
	background-color: black;
	width: 470px;
	height: 45px;
	position:absolute;
	left: 10px;
	top: 255px; 
	opacity: 0.5;
}
.content-center-header>.wenzi>p{
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	line-height: 45px;
}
.content-center-header2>p>a{
	display: block;
	text-align: center;
    color: #363636;
    font-size: 16px;
    font-weight: bold;
    font-family: 微软雅黑;
}
.content-center-header2>.pp>a:hover{
	color: #606;
    text-decoration:line;
}
.content-center-header2>.pa>a{
	display: block;
	text-align: center;
    color: #363636;
    font-size: 10px;
    margin-left: 110px;
}
.content-center-header2>b{
	width: 1px;
	height: 15px;
	background-color: #000;
	margin-top: 4px;
}
.content-center-header2>.paq>a{
	display: block;
	text-align: center;
    color: #363636;
    font-size: 10px;
}
.qwe{
	display:inline-block;
	width: 460px;
	height: 36px;
}
.qwe>span>a{
	line-height: 36px;
	font-weight: bold;
	font-size: 6px;
	color: #363636;
}



.content-center-header3>.left-img>a>img{
	display: block;
	width: 122px;
	height: 80px;
}
.content-center-header3{
	position: relative;
}
.right-text{
	position: absolute;
	right: 0;
	top:0;
}
.right-text>a{
	display: block;
	margin-left: 150px;
	font-size: 16px;
	color: black;
}
.right-text>a:hover{
	color: red;
	text-decoration:underline;
}
.right-text>p{
	display: block;
	margin-left: 150px;
}
.bai-background{
	width: 100%;
	height: 15px;
}



/*资讯*/
.nav>.center-box>a,
.nav .menu>a,
.nav .sub-menu a{
	color: #fff;
}

.nav .menu{
	width: 65px;
	height: 43px;
	position: relative;
}
.nav .menu:hover>.sub-menu{
	display: block;
}
.nav .menu:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border: 6px solid transparent;
	border-top-color:#007c7d;
	top: 20px;
	right: 4px;
}
.nav .menu>a{
	line-height: 43px;
	font-size: 16px;
	padding: 0 14px;	
}
.nav .menu>.sub-menu{
	position: absolute;
	z-index: 1000;
	display: none;
}
.nav .sub-menu a{
	font-size: 14px;
    width: 67px;
    height: 35px;
    background-color: #d9f3f3;
    display: block;
    line-height: 35px;
    text-align: center;
    color: #00a7a9;
    border: 1px solid #bae7e7;
}
.nav .sub-menu a:hover{
	text-decoration: underline;
}

/*运营*/
.nav>.center-box>a,
.nav .menu2>a,
.nav .sub-menu2 a{
	color: #fff;
}
.nav .menu2{
	width: 65px;
	height: 43px;
	position: relative;
}

.nav .menu2>.sub-menu2{
	position: absolute;
	z-index: 1000;
	display: none;
}
.nav .sub-menu2 a{
	font-size: 14px;
    width: 67px;
    height: 35px;
    background-color: #d9f3f3;
    display: block;
    line-height: 35px;
    text-align: center;
    color: #00a7a9;
    border: 1px solid #bae7e7;
}
.nav .sub-menu2 a:hover{
	text-decoration: underline;
}
.nav .menu2:hover>.sub-menu2{
	display: block;
}
/*下三角*/
.nav .menu2:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border: 6px solid transparent;
	border-top-color:#007c7d;
	top: 20px;
	right: 4px;
}
.nav .menu2>a{
	line-height: 43px;
	font-size: 16px;
	padding: 0 14px;
}

.CR{
	width: 309px;
	height: 323px;
}

.content-right-tou{
	display: block;
	width: 282px;
	height: 31px;
	border: 1px solid #0f0;
	border-left: 1px solid #0ff;
	margin-right: 30px;
}
.content-right-tou>.text-left{
	font-size: 16px;
	color: #000000;
	padding-right: 85px;
}
.content-right-tou>.text-left:hover{
	text-decoration: underline;
	color: black;
}
.content-right-tou>.text-center{
	padding-right: 50px;
}
.content-right-tou>.text-right{
	background-color: #ff7800;
	color: #ffffff;
}
.CR-IMG{
	position: relative;
	margin-top: 40px;
}
.CR>.CR-IMG>img:nth-child(1){
	display: block;
	width: 135px;
	height: 27px;
	position: absolute;
	left: 0;
	top: 0;
}
.CR>.CR-IMG>img:nth-child(2){
	display: block;
	width: 135px;
	height: 27px;
	position: absolute;
	right: 0;
	top: 0;
}
.CR>.CR-IMG>img:nth-child(3){
	display: block;
	width: 135px;
	height: 27px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.CR>.CR-IMG>img:nth-child(4){
	display: block;
	width: 135px;
	height: 27px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.CR{
	position:relative;
}
.wenzi{
	display: block;
	width: 282px;
	height: 170px;
	position: absolute;
	top:115px;
	left: 20px;
}
.wenzi>div>a{
	color: #ff7800;
	font-size: 15px;
}
.wenzi>p{
	color: #0b989a;
	font-size: 14px;
}
.wenzi>p>a{
	color: #000;
}
.wenzi>p>a:hover{
	color: #fff;
}
.tupian{
	display: block;
	width: 282px;
	height: 255px;
}
.tupian img{
	display: block;
	margin-top: 5px;
}
.YXCH{
	margin-bottom: 10px;
}
.YXCH>a:nth-child(1){
	font-size: 16px;
	color: #000000;
}
.YXCH>a:nth-child(1):hover{
	text-decoration: underline;
}
.YXCH>a:nth-child(2){
	margin-top: 8px;
	color: #0088aa;
}
.DERBU>h3{
	display: block;
	width: 282px;
	height: 165px;
}
.DERBU>h3>a:nth-child(2){
	color: #000000;
	font-weight:bold;
    padding-left: 60px;
}
.DERBU>h2>a:nth-child(2):hover{
	text-decoration: underline;
}

.DERBU>a{
	display: block;
	width: 232px;
	height: 30px;
	font-size: 13px;
	color: #000;
}
.DERBU>a:hover{
	text-decoration: underline;
}
.DERBU>a>span{
	color: #006caa;
	font-size: 13px;
}
.zhong>.SWDJ{
	display: block;
	width: 282px;
	height: 31px;
}
.SWDJ>a:nth-child(1){
	font-size: 16px;
	color: #000000;
}
.SWDJ>a:nth-child(1):hover{
	text-decoration: underline;
}
.SWDJ>a:nth-child(2){
	margin-bottom: 8px;
	color: #0088aa;
}
.PXHD>a:nth-child(1){
	font-size: 16px;
	color: #000000;
}
.PXHD>a:nth-child(1):hover{
	text-decoration: underline;
}
.PXHD>a:nth-child(2){
	margin-bottom: 8px;
	color: #0088aa;
}
.XB-TU>img{
	display: block;
	width: 114px;
	height: 80px;
}
.XB-TU>h2{
		margin-top: 12px;
}
.XB-TU>h2>a{
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}
.XB-TU>h2:hover{
	text-decoration: underline;
}


.XB-TU2>img{
	display: block;
	width: 114px;
	height: 80px;
}
.XB-TU2>h2{
	margin-top: 12px;

}
.XB-TU2>h2>a{
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}
.XB-TU2>h2:hover{
	text-decoration: underline;
}


.XB-TU3>img{
	display: block;
	width: 114px;
	height: 80px;
}
.XB-TU3>h2{
.margin-top: 12px;

}
.XB-TU3>h2>a{
	margin-top: 12px;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}
.XB-TU3>h2:hover{
	text-decoration: underline;
}
.XB-dibu{
	display: block;
	width: 282px;
	height: 31px;
}
.XB-dibu>.XB-dibu-list{
	color: #000000;
	font-size: 16px;
	margin-bottom: 10px;
}
.XB-dibu>a:hover{
	text-decoration: underline;
}
.zhazha{
	display: block;
	width: 282px;
}
.zhazha>ul>li>a{
	font-size: 14px;
	color: #000; 
	letter-spacing: 1px;
	line-height: 3px;
}
.zhazha>ul>li>a:hover{
	color: #0f0;
	text-decoration: underline;
}



.footer{
	width: 100%;
	height: 310px;
	background-color: #383939;
}
.footer-nav{
	width: 100%;
	height: 44px;
	background: #2a2b2b;
	border: 1px solid #212121;
	clear: both;
}
.footer-nav>.nav{
	width: 1000px;
	height: 43px;
	margin: 0 auto;
}
.footer-nav>.nav>a{
	display: block;
	width: 96px;
	height: 43px;
	text-align: center;
	float: left;
	line-height: 44px;
	color: #fff;
	padding-left: 50px;
}
.footer-nav>.nav>a:hover{
	text-decoration: underline;
}
.footer-content-center{
	width: 1000px;
	height: 120px;
	margin:0 auto;
}
.YDWZ{
	width: 1000px;
	height: 48px;
	margin:5px auto;
}
.YDWZ>p>a{
	color: #a5a5a5;
}
.YDWZ>p>a:hover{
	text-decoration: underline;
	color: #0f0;
	cursor: help;
}
.GUOHUI{
	width: 1000px;
	height: 16px;
	margin: 0 auto;
}
.GUOHUI>a{
	width: 106px;
	margin: 0 auto;
	margin-left: 400px;
	color: #a5a5a5;
}
.GUOHUI>a:hover{
	text-decoration: underline;
}
.GUOHUI>p{
	margin-bottom: 1px;
	margin: 0 auto;
	margin-left: 300px;
	color: #a5a5a5;
	font-size: 12px;
}
.GUOHUI>p:hover{
	text-decoration: underline;
}

